/* @import url("http://necolas.github.io/normalize.css/3.0.2/normalize.css"); */

/*
	All document styles
*/


body {
	background-image: url("img/bg3.jpg");
	background-position: center top;
	background-size: 100%;
}

/*#wrapper {
	height: 300px;
	background: argba(0,0,0,.5);
	border: 1px solid rgba(0,0,0,0.7);
	box-shadow: 0 2px 2px rgba(0,0,0,0.7);
}

.section {	
	margin-top: 100px;
/*	background: rgba(255,255,255,0.5);
	box-shadow: 0 0 5px #888;*/
}

/* 
	Navbar
*/

.navbar {
	background: rgba(0,0,0,0);
	border-radius: 0 !important;
}

/*
	Main content
*/

#baner-area {
	color: black;
	padding: 20px 0 20px 0;
}

#baner-area .text {
	color: rgba(255,255,255, 0.8);
}

#form-area {
	margin: 20px;
	color: black;
}


/*
	Footer
*/

footer {
	width: 100%;
	background: rgba(255,255,255,0.2);
	height: 100px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid rgba(255,255,255,0.1);
	color: #fff;
	font: x-small Consolas;
	padding-top: 20px;
}

.appName {
	color: rgba(0,0,0,0.5);
	font-size: large;
}
.appName:hover {
	color: rgba(0,0,0	,0.8);
	text-decoration: none;
}

/*
	Inputs
*/
input[type="text"].my-input, input[type="password"].my-input {
	border: none;
	outline: rgba(0,0,0,0.2) solid 2px;
	border-radius: 0;
}

input[type="text"].my-input:focus, input[type="password"].my-input:focus {
	border: none;
	box-shadow: none;
	outline: rgba(0,0,0,0.4) solid 2px;
	color: rgba(15,100,12,0.8);
}

/*
	Labels
*/
.my-label {
	font-weight: normal;
	color: rgba(0,0,0,0.8);
}

::-webkit-input-placeholder { 
	color: rgba(0,0,0,0.4) !important;
}

.my-link {
	color: rgba(0,0,0,1);
}

.my-link:hover {
	background: transparent !important;
	text-decoration: underline !important;
	color: black !important;
}
/* --- --- --- --- --- --- */

#draggable {
    width: 150px;
}

#droppable {
    width: 200px;
    height: 200px;
    margin-left: 50%;
}