@model ProjektG1.Models.Task

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Task"))
{
    <text>Tytuł</text>
    @Html.TextBoxFor(m => m.Tytul, new {@Value = @ViewBag.Tytuł})
    <text>Osoba Odpowiedzialna</text>
    @Html.TextBoxFor(m => m.OsobaOdpowiedzialna, new {@value = ViewBag.OsobaOdpowiedzialna})
    <text>komentarz</text>
    @Html.TextBoxFor(m => m.Komentarz, new {@Value = ViewBag.Komentarz})
}