@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<section class="section">
    <div class="container">
        <div class="col-lg-12 col-md-12 flex-wrapper">
            <h2>About</h2>

            <div class="text">
                <span>Projekt Grupowy</span>
            </div>
        </div>
    </div>
</section>
