@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2>Contact</h2>

<div class="text">
    <p>
        mpxx24@gmail.com
    </p>
    <p>
        pl.litwa@gmail.com
    </p>
</div>