@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<section class="section">
    <div class="container">
        <div class="col-lg-12 col-md-12 flex-wrapper">
            <h2>Contact</h2>

            <div class="text">
                <p>Witamy!</br>Jesteśmy autorami tej aplikacji ;) Możesz się z nami skontaktować poprzez niżej podane maile.</br>Dzięki ;)</p>
                <p>
                    Mariusz Piątkowski - <a class="animate">mpxx24@gmail.com</a>
                </p>
                <p>
                    Mateusz Littwin - <a class="animate">pl.litwa@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</section>
