@model ProjektG1.Models.User
@{
    ViewBag.Title = "Index";
}

<h2>Nic tu nie ma</h2>

@using (Html.BeginForm("DodajUzytkownika", "Home"))
{
    <text>Login:</text>
    @Html.TextBoxFor(m => m.Username);
    
    <text>Hasło:</text>
    @Html.PasswordFor(m => m.Password);
    <input type="submit" value="Dodaj Użytkownika"/>
}
<br/>
@Html.ActionLink("lista tasków", "Zadanie", "Task")