@model ProjektG1.Models.User

@{
    ViewBag.Title = "Account Informations";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}



<section class="section">
    <div class="container">
        <div class="col-lg-12 col-md-12 flex-wrapper">

            <div class="col-lg-2 col-md-2">
                 <img class="image" src="~/img/default-usrer-photo.png" alt="user-photo"/>
            </div>

            <div class="col-lg-10 col-md-10">
                <ul class="list-group">
                    <li class="list-group-item tm-my-list"><h3>@Html.DisplayFor(model => model.Username)</h3></li>
                    <li class="list-group-item tm-my-list">@Html.DisplayFor(model => model.MailAdress)</li>
                </ul>
            </div>

           
        </div>
    </div>
</section>