@model ProjektG1.Models.User

@{
    ViewBag.Title = "DisplayAccData";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2>DisplayAccData</h2>

@Html.DisplayNameFor(model => model.Username)

@Html.DisplayFor(model => model.Username)

@Html.DisplayNameFor(model => model.MailAdress)

@Html.DisplayFor(model => model.MailAdress)
