@model ProjektG1.Models.User

@{
    ViewBag.Title = "Account Informations";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2>Acc Info</h2>

@Html.DisplayNameFor(model => model.Username)

@Html.DisplayFor(model => model.Username)

@Html.DisplayNameFor(model => model.MailAdress)

@Html.DisplayFor(model => model.MailAdress)
