@using ProjektG1.Models
@model ProjektG1.Models.User
@{
    ViewBag.Title = "FriendList";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    
    var context = new TaskContext();
    var user = context.Users.Single(x => x.Username == User.Identity.Name);
}

<section class="section">
    <div class="container">
        <div class="col-lg-12 col-md-12 flex-wrapper">

            <div class="col-lg-4">
                <img class="image" src="~/img/friend_list2.png" alt="friend list image" />
            </div><!-- end left column -->

            <div class="col-lg-8">
                <h3>Your friends list</h3>
                <table class="table table-striped table-friend-list">
                    <thead>
                        <tr>
                            <td class="col-lg-1">#</td>
                            <td class="col-lg-2">nick</td>
                            <td class="col-lg-2">email</td>
                            <td class="col-lg-1"></td>
                        </tr>
                    </thead>
                    @{ var friendNumber = 1; }
                    @foreach (var usr in user.Friends)
                    {
                        <tr>
                            <td>@friendNumber</td>
                            <td>@usr.Username</td>
                            <td>@usr.MailAdress</td>
                            <td>
                                @using (Html.BeginForm("DeleteFriend", "User", new { @email = usr.MailAdress }))
                                {
                                    <button type="submit" name="ButtonUsun" value="Usun" title="usun"
                                            class="icon-button icon-delete btn-task usun animate">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                }
                            </td>
                        </tr>

                                friendNumber++;
                    }
                    <tr id="newFriendButtonRow" style="display: block;">
                        <td>
                            <button class="icon-button icon-add animate" id="btnAddNewFriend"><i class="fa fa-plus"></i>&nbsp;new friend</button>
                        </td>
                    </tr>
                    <tr id="addFriendEditor" class="editor" style="display: none;">
                        @using (Html.BeginForm("AddFriend", "User"))
                        {
                            <td colspan="2">
                                <input type="text" class="my-input form-control" placeholder="mail address" />
                            </td>
                            <td><button type="submit" id="addFriendSubmit">Add friend</button></td>
                        }
                        <td><button id="closeAddNewFriend" class="icon-button icon-delete animate"><i class="fa fa-close"></i></button></td>
                    </tr>
                </table>
                @*do wywalenia*@
                @*@using (Html.BeginForm("AddFriend", "User"))
                {
                    <div class="form-group">
                        <div class="col-lg-8">
                        <input type="text" name="MailAdress" placeholder="mail address" class="my-input form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                        <button type="submit" class="btn btn-primary">Add friend</button>
                        </div>
                    </div>

                }*@
            </div><!-- end right column -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
                <a href="@Url.Action("Zadanie", "Task")"><i class="fa fa-arrow-left"></i>&nbsp;Back to tasks board</a>   
            </div>

        </div><!-- end flex-wrapper -->     
    </div><!-- end container -->
</section>


