@{
    ViewBag.Title = "PoRejestracji";
    Layout = "~/Views/Shared/LayoutPage.cshtml";  
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/css-after_register.css")" />
}

<div class="section">
    <div class="container flex-wrapper text-center">
        <h2>Dziękujemy za rejestrację!</h2>
        Możesz się&nbsp;@Html.ActionLink("zalogować!", "Login", "User")
    </div>
</div>
