/* @import url("http://necolas.github.io/normalize.css/3.0.2/normalize.css"); */

/*
	All document styles
*/

body {
    background-image: url("/img/patt2.jpg");
}

::selection {
	background: rgba(255,0,0,0.5);
	color: rgba(234,0,0,0.8);
}


/*#wrapper {
	height: 300px;
	background: rgba(0,0,0,.5);
	border: 1px solid rgba(0,0,0,0.7);
	box-shadow: 0 2px 2px rgba(0,0,0,0.7);
}!
*/
.section {	
	margin-top: 100px;
/*	background: rgba(255,255,255,0.5);
	box-shadow: 0 0 5px #888;*/
}

/* 
	Navbar
*/

.navbar {
	background: rgba(0,0,0,0);
	border-radius: 0 !important;
}

/*
	Main content
*/

#flex-wrapper {
	padding: 20px 40px 20px 40px;
	background-color: rgba(255,255,255,.9);
	border: 1px solid rgba(255,255,255,.9	);
	border-radius: 5px;
	box-shadow: 0 1px 5px #444;
}

.text-area {
	color: black;
	padding: 20px 0 20px 0 !important;
}

.text {
	color: #888;
	font-weight: normal;
	font-size: 12pt;
}

.small-text {
	font-size: small;
}

.small-text:before {
    content: '{ ';
    color: red;
}
.small-text:after {
    content: " }";
    color: red;
}

#form-area {
	/*margin: 0 20px 0 20px;*/
	color: black;
}


/*
	Footer
*/

footer {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	color: #fff;
	font: x-small Consolas;
	padding-top: 20px;
}

.appName {
	font-size: large;
}
.appName:hover {
	text-decoration: none;
}

/*------------------------------------------------
	Inputs, buttons, labels, etc
----------------------------------------------- */
input[type="text"].my-input, input[type="password"].my-input {
	border: none;
	outline: rgba(0,0,0,0.2) solid 2px;
	border-radius: 0;
}

input[type="text"].my-input:focus, input[type="password"].my-input:focus {
	border: none;
	box-shadow: 0 0 2px #888;
	color: #888;
	outline: rgba(0,0,0,0.4) solid 2px;
}

input[type="text"].my-input:hover, input[type="password"].my-input:hover {
	outline: rgba(0,0,0,0.4) solid 2px;
}

/* buttons */
.my-button {
    border-radius: 0 !important;

}
.my-button:hover {

}

/* Labels */
.my-label {
	font-weight: normal;
	color: rgba(0,0,0,0.8);
}

::-webkit-input-placeholder { 
	color: rgba(0,0,0,0.4) !important;
}

/* links */
.my-link {
	color: rgba(255,255,255,0.4);
}

.my-link:hover {
	background: transparent !important;
	text-decoration: underline !important;
	color: white !important;
	text-decoration: none !important;
}
/* --- --- --- --- --- --- */

#draggable {
    width: 150px;
}

#droppable {
    width: 200px;
    height: 200px;
    margin-left: 50%;
}