/* @import url("http://necolas.github.io/normalize.css/3.0.2/normalize.css"); */

/*
	All document styles
*/

/*@import url('fonts.css');*/

h1, h2, h3, h4, h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-image: url("/img/patt2.jpg");
    background-attachment: fixed;
    margin-bottom: 20px;
}

::selection {
	background: #444;;
	color: #888;
}

.wrapper {
	padding: 20px;
	background: #fff;
	box-shadow: 0 2px 2px #000;
}


/*#wrapper {
	height: 300px;
	background: rgba(0,0,0,.5);
	border: 1px solid rgba(0,0,0,0.7);
	box-shadow: 0 2px 2px rgba(0,0,0,0.7);
}!
*/
.section {	
	margin: 100px 0 0 0;
/*	background: rgba(255,255,255,0.5);
	box-shadow: 0 0 5px #888;*/
}

/* 
	Navbar
*/

.navbar {
	border-radius: 0 !important;
}
/*.navbar:hover {
    background: rgba(0,0,0,0.3);
    /*transition: all .2s ease-in-out;
}*/

.usernameStyle {
    line-height: 50px;
    color: rgba(255,255,255,0.8) !important;
    letter-spacing: 1px;
}
.usernameStyle:before, .usernameStyle:after {
    color: rgba(255,255,255,0.7);
}
.usernameStyle:before {
    content: "[ ";
}
.usernameStyle:after {
    content: ' ]';
}

/*
	Main content
*/

.flex-wrapper {
	padding: 20px 40px 20px 40px;
	background-color: rgba(255,255,255,.9);
	border-top: 1px solid rgba(255,255,255,.9);
    border-bottom: 1px solid rgba(0,0,0,.9);
	border-radius: 1px;
	box-shadow: 0 1px 5px #000;
}

.text-area {
	color: black;
	padding: 20px 0 20px 0 !important;
}

.text {
	color: #888;
	font-weight: normal;
	font-size: 12pt;
    font-family: Cantarell;
}

.hello-text {
    font-family: Cantarell, cursive;
}

#form-area {
	/*margin: 0 20px 0 20px;*/
	color: black;
}


/*
	Footer
*/

footer {
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0;
    background: rgba(0,0,0,0.5);
	color: #fff;
	font: x-small Consolas;
    line-height: 20px;
}

.footer-text {
	font-size: x-small;
    margin-bottom: 0;
}

.footer-text:before {
    content: '{ ';
    color: red;
}
.footer-text:after {
    content: " }";
    color: red;
}

.appName {
	font-size: large;
}

.appName:hover {
	text-decoration: none;
}

/*------------------------------------------------
	Inputs, buttons, labels, etc
----------------------------------------------- */
textarea {
    min-height: 100px;
}
input[type="text"].my-input, input[type="password"].my-input, textarea.my-input, select.my-input {
	border: none;
	outline: rgba(0,0,0,0.2) solid 2px;
	border-radius: 0;
}

input[type="text"].my-input:focus, input[type="password"].my-input:focus, textarea.my-input:focus, select.my-input:focus {
	border: none;
	box-shadow: 0 0 2px #888;
	color: #888;
	outline: rgba(0,0,0,0.4) solid 2px;
}

input[type="text"].my-input:hover, input[type="password"].my-input:hover, textarea.my-input:hover.appName select.my-input:hover {
	outline: rgba(0,0,0,0.4) solid 2px;
}

/* BUTTONS */
.my-button {
    border-radius: 0 !important;
}
.my-button:hover {

}

.icon-button {
    height: auto;
    background: transparent;
    border: none;

}
.icon-button:focus, .icon-button:hover {
    border: none;
    outline: none;
    color: rgba(255,255,255,0.5);
}

.btn-tm-small {
    font-size: 10pt;
}
.btn-tm {
    content: ' ';
}
/* delete task button */
.icon-delete {
}
.icon-delete:hover {
    color: rgba(255,0,0,0.5);
}

/* add task button*/
.icon-add {
    position: absolute;
    left: 20px;
}
.icon-add:hover {
    color: green;
}

/* edit task button */
.icon-edit {

}
.icon-edit:hover {
    color: rgba(0,0,255,0.5);
}

/* end task button */
.icon-endtask {

}
.icon-endtask:hover {
    color: rgba(0,255,0,0.5);
}

/* buttons inside control task area */
.btn-task {

}

.button-task-text {
    width: 65%;
    height: auto;
    border: none;
    background: none;
    text-align: left;
    
}
.button-task-text:focus {
    outline: none;
}/* END BUTTONS*/

/* LABELS */
.my-label {
	font-weight: normal;
	color: rgba(0,0,0,0.8);
}

::-webkit-input-placeholder { 
	color: rgba(0,0,0,0.4) !important;
}

/* LINKS */
.my-link {
	color: rgba(255,255,255,0.4);
}

.my-link:hover, .my-link:visited, .my-link:active, .my-link:focus {
	background: none !important;
	text-decoration: underline !important;
	color: white !important;
	text-decoration: none !important;

    transition: color .2s ease-in-out;
}

/* text effects for all */
.text-space-b-a {
    margin: 20px 0 20px 0;
}

input[type="submit"].usun {
    background: black;
}

#dodajTask {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 10000;
}

/* effects */
.pointer {
    cursor: pointer;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.animate {
    transition: all .2s ease-in-out;
}

/* EDITOR */
.editor {
    background: #ddd !important;
}

/* List group of bootstrap*/

.tm-my-list {
    background-color: transparent;
    border: none;
}

/* Table friend list - adding line if tr is last*/

.table-friend-list tr:nth-last-child(n+3) {
    border-bottom: 1px solid #ddd;
}
.table-friend-list tr:nth-last-child(-n+2)
{
    background-color: transparent;
}