@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2>Error404</h2>

<style>
    .blad404 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<img class="blad404" src="~/img/404.jpg"/>