@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<div class="container text-center">
    <img class="blad404" src="~/img/404.jpg" style="width: 100%; height: 100%;"/>
</div>